@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyCompany</h1>
    <h3>Офіційний сайт компанії</h3>
    <hr />
    <div style="padding: 100px">
        <h4>Контент Головної сторінки ...</h4>
    </div>
    <hr />
    <p>Читати детальніше <a href="https://docs.microsoft.com/aspnet/core">Створюйте веб-додатки із ASP.NET Core</a>.</p>
</div>
